<ion-view view-title="Cadastro">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="CadastroController.data.nome">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Sobrenome" ng-model="CadastroController.data.sobrenome">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="CadastroController.data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Senha" ng-model="CadastroController.data.senha">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirmar Senha">
      </label>
    </div>
    <button class="button button-positive col col-50 col-offset-25">Cadastrar</button>
  </ion-content>
</ion-view>
